.loginRegisterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: reflect;
    animation-duration: 10000ms;
}

.logo {
    color:rgb(220, 77, 0);
    margin: 10vh 0 0 0;
    font-size: 7em;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 13vw;
}

.btn {
    background-color: rgb(220, 77, 0);
    border-radius: .25em;
    padding: 1vh 1vw;
    margin: 5vh 0;
    text-decoration: none;
    color: white;
    box-shadow: 3px 3px 5px rgb(122, 122, 122);
    transition-duration: 400ms;
}

.btn:hover {
    background-color: white ;
    border-radius: .25em;
    padding: 1.3vh 1.2vw;
    margin: 5vh 0;
    text-decoration: none;
    color: rgb(220, 77, 0);
    box-shadow: 3px 3px 5px rgb(122, 122, 122);
    transition-duration: 1000ms;
}

@keyframes reflect{
    0%{
        color:black;
    }

    66%{
        color: rgb(220, 77, 0);
    }
    100%{color:black;

    }
}