#welcomeUsername {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color:rgb(220, 77, 0);
}

#recipeName{
    margin: 0px;
}

.homeRecipeImage {
    width: 25vw;
    height: 50vh;
    border: 2px solid white;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
}

#homeRecipe {
    padding: 2vw;
    width: min-content;
    background-color: rgb(220, 77, 0);
    color: white;
    min-height: 80vh;
    max-height: 80vh;
    margin-top: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 1vw;
}

.container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.homeRecipeText {
    text-align: left;
    justify-content: left;
    margin-left: 20px;
}

Link {
    color: white;
}

#likeAndFavorite {
    display: flex;
    justify-content: space-between;
}

#like, #favorite {
    display: flex;
}

.icon {
    height: 2vw;
    width: 2vw;
}

.recipeLinkName{
    color: white;
    text-decoration: none;
    display: block;
    max-height: 10vh;

}

.recipeBtn{
    background-color: rgb(220, 77, 0);
    border: none;
    color: white;
    margin: 1vw;
}