.headerContainer {
    width: 100vw;
    background-color: rgb(220, 77, 0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: 3.5em;
    margin: 1vh 1vw;
}

.headerLinkList {
    display: flex;
    flex-direction: row;
}

.headerLinkList li {
    margin: 1vh 2vw;
    font-size: 1.5em;
    list-style: none;
}

.headerLinkList li a {
    text-decoration: none;
    color: white;
}