.headerContainer {
    width: 100vw;
    background-color: rgb(220, 77, 0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: 3.5em;
    margin: 1vh 1vw;
}

.headerLinkList {
    display: flex;
    flex-direction: row;
}

.headerLinkList li {
    margin: 1vh 2vw;
    font-size: 1.5em;
    list-style: none;
    transition-duration: 200ms;
}
.headerLinkList li:hover {
    margin: 0vh 0vw;
    padding: 0vh 2vw;
    font-size: 1.6em;
    list-style: none;
    transition-duration: 300ms;
}


.headerLinkList li a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width:960px) {
    .headerContainer{
        margin-top: 0vw;
        width: 100vw;
        font-size: 25px;
    }
    
}
@media screen and (max-width:700px) {
    .headerContainer{
        margin-top: 0vw;
        width: 100vw;
        font-size: 15px;
    }
    
}
@media screen and (max-width:480px) {
    .headerContainer{
        margin-top: -10vw;
        width: 100vw;
        font-size: 10px;
    }
    
}

@media screen and (max-width:280px) {
    .headerContainer{
        margin-top: -10vw;
        width: 100vw;
        font-size: 8px;
    }
    
}