body {
    overflow-y: auto;
    overflow-x: hidden;
}

.oneImg{
    max-height: 40vh;
    border-radius: 1vw;
}

.editContainer{
    background-color: rgba(220, 77, 0);
    width:80vw;
    margin:5vh 0vw 2vh 10vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    color: white;

}

.btnContainer {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin-left:15vw;
}

.btn {
    background-color: rgba(220, 77, 0);
    justify-self: center;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: .25em;
    border: none;
    text-decoration: none;
    color: white;
    box-shadow: 3px 3px 5px rgb(122, 122, 122);
    transition-duration: 200ms;
}

.btn:hover {
    background-color: rgba(220, 77, 0, 0.85);
    justify-self: center;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: .25em;
    text-decoration: none;
    color: white;
    box-shadow: 3px 3px 5px rgb(122, 122, 122);
    transition-duration: 300ms;
}

#recipeTitleImageDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#oneRecipeDescription {
    text-align: center;
}

#recipeIngredientsAndPreparation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#oneRecipeIngredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#oneRecipePreparation {
    text-align: center;
}

#oneRecipeName, #oneRecipeImage, #oneRecipeUsername, #oneRecipeDescription, #oneRecipeCookTimeAndServes, #recipeIngredientsAndPreparation, #oneRecipeIngredients, #oneRecipePreparation {
    margin-top: 2vh;
}

#oneRecipePreparation {
    margin-bottom: 2vh;
}

#editAndDeleteButtons {
    margin-bottom: 5vh;
}

@media screen and (max-width:540px){

    .oneImg{
        max-width: 80vw;
        border-radius: 1vw;
    }
    
    .editContainer{
        background-color: rgba(220, 77, 0);
        width:85vw;
        margin:5vh 0vw 5vh 7.5vw;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
        color: white;
    }
}

